/* ######### storylist  ############# */

.storyListContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow: auto;
    margin-top: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.imgWrapper {
    background: conic-gradient(#f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
/* ###### StoryFullView #########  */

.fullViewContainer {
    width: 100%;
    height: 100%;
}

.fullViewImgWrapper {
    position: relative;
    height: 95vh;
}

.closeBtn {
    border: none;
    padding: 2px 8px;
    font-size: 1.2rem;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
    position: absolute;
    right: 0.4rem;
    top: 1rem;
}